---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { projects } from "~constants/projects.constant";
import Layout from "~layouts/Layout.astro";

const svgs = import.meta.glob<{ default: ImageMetadata }>("/src/assets/svgs/*.svg");
---

<Layout title="Projets">
  <div class="space-y-8">
    <div class="space-y-4">
      <h1 class="text-yellow-400 text-center text-3xl lg:text-6xl">Mes projets</h1>
      <p class="text-center lg:text-xl">
        Ci-dessous, un aperçu des projets sur lequels j'ai pu travailler regroupant mes
        <span class="underline underline-offset-4">projets académiques</span>, mes projets lors de <span
          class="underline underline-offset-4">stages</span
        >, et les projets lors <span class="underline underline-offset-4"
          >d'expériences professionnelles</span
        >.
      </p>
    </div>
    <div
      class="space-y-8 lg:space-y-0 divide-y-2 divide-double lg:divide-none lg:grid lg:grid-cols-3 lg:gap-20"
    >
      {
        projects.map((project, i) => (
          <div class="space-y-2">
            <div class="flex flex-row justify-between items-center pt-4">
              <p class="text-2xl lg:text-3xl font-extrabold text-yellow-300">{project.title}</p>
              <div class="flex flex-row space-x-4">
                {project.github_repo && (
                  <a
                    href={project.github_repo}
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="github-project-link"
                  >
                    <Image
                      class="lg:hidden"
                      src={svgs["/src/assets/svgs/github.svg"]()}
                      alt="github-project-link"
                      height={30}
                      loading={i < 2 ? "eager" : "lazy"}
                    />
                    <Image
                      class="hidden lg:block"
                      src={svgs["/src/assets/svgs/github.svg"]()}
                      alt="github-project-link"
                      height={35}
                      loading={i < 6 ? "eager" : "lazy"}
                    />
                  </a>
                )}
                {project.url_visit && (
                  <a
                    href={project.url_visit}
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="website-project-link"
                  >
                    <Image
                      class="lg:hidden"
                      src={svgs["/src/assets/svgs/link.svg"]()}
                      alt="website-project-link"
                      height={30}
                      loading={i < 2 ? "eager" : "lazy"}
                    />
                    <Image
                      class="hidden lg:block"
                      src={svgs["/src/assets/svgs/link.svg"]()}
                      alt="website-project-link"
                      height={35}
                      loading={i < 6 ? "eager" : "lazy"}
                    />
                  </a>
                )}
              </div>
            </div>
            <div class="flex flex-row justify-between items-center">
              <div class="flex flex-row space-x-2">
                <Image
                  class="lg:hidden"
                  src={svgs["/src/assets/svgs/calendar.svg"]()}
                  alt="calendar"
                  height={20}
                  loading={i < 2 ? "eager" : "lazy"}
                />
                <Image
                  class="hidden lg:block"
                  src={svgs["/src/assets/svgs/calendar.svg"]()}
                  alt="calendar"
                  height={30}
                  loading={i < 6 ? "eager" : "lazy"}
                />
                <p class="text-lg">{project.date}</p>
              </div>
              <div class="flex flex-row space-x-1 p-2 bg-slate-800 rounded-md">
                {project.icons.map((icon) => (
                  <>
                    <Image
                      class="lg:hidden"
                      src={svgs[`/src/assets/svgs/${icon}.svg`]()}
                      alt={icon}
                      height={20}
                      loading={i < 2 ? "eager" : "lazy"}
                    />
                    <Image
                      class="hidden lg:block"
                      src={svgs[`/src/assets/svgs/${icon}.svg`]()}
                      alt={icon}
                      height={30}
                      loading={i < 6 ? "eager" : "lazy"}
                    />
                  </>
                ))}
              </div>
            </div>
            <p class="text-justify lg:text-xl">{project.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
