---
import { projects } from "~constants/projects.constant";
import Layout from "~layouts/Layout.astro";

// assets
import CalendarSVG from "~assets/svgs/calendar.svg";
import GitHubSVG from "~assets/svgs/github.svg";
import LinkSVG from "~assets/svgs/link.svg";
---

<Layout
  page="Projets"
  description="Liste des projets de développement web sur lesquels j'ai pu travailler."
>
  <div class="space-y-8">
    <div class="space-y-4">
      <h1 class="text-yellow-400 text-center text-3xl lg:text-6xl">Mes projets</h1>
      <p class="text-center lg:text-xl">
        Ci-dessous, un aperçu des projets sur lequels j'ai pu travailler, regroupant mes
        <span class="underline underline-offset-4">projets académiques</span>, mes projets lors de <span
          class="underline underline-offset-4">stages</span
        >, et les projets lors <span class="underline underline-offset-4"
          >d'expériences professionnelles</span
        >.
      </p>
    </div>
    <div
      class="space-y-8 lg:space-y-0 divide-y-2 divide-double lg:divide-none lg:grid lg:grid-cols-3 lg:gap-20"
    >
      {
        projects.map((project) => (
          <div class="space-y-2">
            <div class="flex flex-row justify-between items-center pt-4">
              <p class="text-2xl lg:text-3xl font-extrabold text-yellow-300">{project.title}</p>
              <div class="flex flex-row space-x-4">
                {project.github_repo && (
                  <a
                    href={project.github_repo}
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Lien vers le repository GitHub."
                  >
                    <GitHubSVG class="w-auto h-8 qhd:h-10" fill="#ffffff" />
                  </a>
                )}
                {project.url_visit && (
                  <a
                    href={project.url_visit}
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Lien vers le site Internet."
                  >
                    <LinkSVG class="w-auto h-8 qhd:h-10" />
                  </a>
                )}
              </div>
            </div>
            <div class="flex flex-row justify-between items-center">
              <div class="flex flex-row space-x-2">
                <CalendarSVG class="w-auto h-5 qhd:h-8" />
                <p class="text-lg">{project.date}</p>
              </div>
              <div class="flex flex-row space-x-1 p-2 bg-slate-800 rounded-md">
                {project.icons.map((Icon) => (
                  <Icon class="w-auto h-8 qhd:h-10" />
                ))}
              </div>
            </div>
            <p class="text-justify lg:text-xl">{project.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
