---
import { ClientRouter } from "astro:transitions";
import Footer from "~components/Footer.astro";
import Navbar from "~components/Navbar/Navbar.astro";

interface Props {
  page: string;
  description: string;
}

const { page, description } = Astro.props;

const title = `${page} · mqxewww's portfolio`;
---

<!doctype html>
<html lang="fr">
  <head>
    <link rel="stylesheet" href="/font.css" />
    <!-- High Priority Global Metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="generator" content="Astro v5.0.5" />
    <!-- Low Priority Global Metadata -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`https://mqxewww.dev${Astro.url.pathname}`} />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={title} />
    <meta property="og:image" content="https://mqxewww.dev/icon.jpg" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@mqxewww" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="https://mqxewww.dev/icon.jpg" />
    <meta name="robots" content="max-image-preview:large" />
    <ClientRouter />
  </head>
  <body class="h-screen flex flex-col justify-between mx-4 lg:mx-60 bg-slate-950 text-white">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  body {
    font-family: "Montserrat", sans-serif;
  }

  html {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }
</style>
